# PostgreSQL Configuration
# Default values are provided for the owl_db app assuming that the standard docker file was used
POSTGRES_DB=owl_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_INITDB_ARGS="--encoding=UTF8 --locale=C"

# Container Configuration
POSTGRES_CONTAINER_NAME=postgres

# Port Configuration
POSTGRES_PORT=5432

# Data Storage Configuration
POSTGRES_DATA_PATH=/var/lib/postgresql

# Volume Configuration
POSTGRES_VOLUME_NAME=postgres_data

# Network Configuration
POSTGRES_NETWORK_NAME=postgres_network

# Drizzle Config
DATABASE_URL=postgres://<user>:<password>@<domain, often localhost>:<port>/<db name>

# API Variables
API_PORT=3000

# Auth variables
# Can be generated on the Better Auth site or via command line
BETTER_AUTH_SECRET=auth_secret

BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_TRUSTED_URL=http://localhost:5173

# Icon Auth token
FA_AUTH_TOKEN=font_awesome_premium_token